*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {

    height: 100%;
}

i {
    color: white;
}

a {
    text-decoration: none !important;
  }

  a,button{
    cursor: pointer;
}

.contact-bar {
    background-color: black;
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.contact-bar-links {
    padding: 0 10px;
    color: white;
    font-size: 12px;
}

.contact-bar-links:hover, i:hover {
    color:brown;
}

.p-contact-bar {
    display: inline;
}

.navigation-bar {
    background-color: white;
    height: 90px;
    position: fixed;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    top: 32px;
}

.brand-restaurant {
    letter-spacing: 4px;
    font-size: 32px;
    margin-bottom: 48px;
}

.i-green {
    color: green;
}

.i-green:hover {
    color: black;
}

.btn-reservation {
    padding: 10px 60px !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    margin-right: 4%;
}

/*hamburger responsive */

#hamburger {
    width: 35px;
    height: 30px;
    margin: 15px 0 20px 20px;
    cursor: pointer;
    z-index: 100;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: black;
    display: block;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav-menu {
    margin-top: 80px;
    transition: 1s ease-out;
    text-align: end;
    padding-right: 5%;
    display: none;
}

.nav-menu li a {
    color: black;
    text-decoration: none;
}

.nav-menu li a:hover {
    color: green;
}

.nav-menu li {
    list-style: none;
    padding: 20px 0;
}

.icon .bar {
    background-color: black;
}

.icon #bar1 {
    transform: translateY(2px) rotate(-45deg);
}

.icon #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.icon #bar2 {
    opacity: 0;
}

.change {
    background-color: white;
    height: 100vh;
    margin: 0;
    position: absolute;
    left: 0;
    font-size: 26px;
    top: 0;
    z-index: -100;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.flexbox-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 90px;
  }
  
  .column {
    flex: 1;
    min-width: 300px; /* optional: set a minimum width for the columns */
    
}
  
  .column img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1; /* maintain a square aspect ratio */
    object-fit: cover;
}
  

@media only screen and (max-width:1020px) {
    .change{
        width: 40%;
        font-size: 20px;
    }  

    .bar {
        height: 3px;
    }

    #hamburger {
        width: 30px;
        height: 25px;
    }

    .icon #bar1 {
        transform: translateY(1px) rotate(-45deg);
    }
   
    .icon #bar3 {
        transform: translateY(-5px) rotate(45deg);
    }

    .p-contact-bar {
        display: none;
    }

    .brand-restaurant {
        letter-spacing: 4px;
        font-size: 24px;
        white-space: normal;
        word-wrap: break-word;
        text-align: right;
        padding-top: 5px;
    }


    .col-4:nth-child(3) {
        display: none;
        width: 0%;
      }

      .col-4:nth-child(1), .col-4:nth-child(2) {
        width: 50%;
      }

      .flexbox-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .column {
        flex: 0 0 100%;
        max-width: 100%;
      }
}

@media only screen and (max-width:600px) {
    .change{
        width: 100%;
        font-size: 16px;
        align-items: center;
    }  

    .brand-restaurant {
        letter-spacing: 2px;
        font-size: 18px;
        white-space: normal;
        word-wrap: break-word;
        text-align: right;
        padding-top: 10px;
    }
}

@media only screen and (max-width:400px) {
    .brand-restaurant {
        letter-spacing: 2px;
        font-size: 14px;
        white-space: normal;
        word-wrap: break-word;
        text-align: right;
        padding-top: 10px;
    }

    .bar {
        height: 2px;
    }

    #hamburger {
        width: 25px;
        height: 20px;
    }

    .icon #bar1 {
        transform: translateY(1px) rotate(-45deg);
    }
   
    .icon #bar3 {
        transform: translateY(-3px) rotate(45deg);
    }

    .change{
        font-size: 14px;
    }  
}
