*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    height: 100%;
}

i {
    color: white;
}

a {
    text-decoration: none !important;
  }

  a,button{
    cursor: pointer;
}

.contact-bar {
    background-color: black;
}

.contact-bar-links {
    padding: 0 10px;
    color: white;
    font-size: 12px;
}

.contact-bar-links:hover, i:hover {
    color:brown;
}

.navigation-bar {
    background-color: white;
    height: 90px;
    width: 100%;
    position: fixed;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.brand-restaurant {
    letter-spacing: 4px;
}

.i-green {
    color: green;
}

.i-green:hover {
    color: black;
}

/*hamburger responsive */

#hamburger {
    width: 35px;
    height: 30px;
    margin: 15px 0 20px 20px;
    cursor: pointer;
    z-index: 100;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: black;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav-menu {
    margin-top: 80px;
    transition: 1s ease-out;
    display: none;
}

.nav-menu li a {
    color: black;
    text-decoration: none;
}

.nav-menu li a:hover {
    color: green;
}

.nav-menu li {
    list-style: none;
    padding: 20px 0;
}

.icon .bar {
    background-color: black;
}

.icon #bar1 {
    transform: translateY(4px) rotate(-45deg);
}

.icon #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.icon #bar2 {
    opacity: 0;
}

.change {
    background-color: white;
    height: 100vh;
    margin: 0;
    position: absolute;
    font-size: 30px;
    top: 0;
    z-index: -100;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width:1000px) {
    .change{
        width: 40%;
    }  
}

@media only screen and (max-width:600px) {
    .change{
        width: 100%;
    }  
}

/* Navbar https://www.youtube.com/watch?v=vkNkeCSb13M https://github.com/CodeModeGit/Slide-Out-Navigation 

nav{
    position: absolute;
    top: 120px;
    width: 300px;
}

.navigation{
    position: fixed;
    width: 350px;
    left: -101%;
    height: 100%;
    background-color: #fff;
    transition: .5s;
}

.navigation ul li{
    color: black;
    text-align: right;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1.1em;
    padding: 20px 30px;
    margin-left: 30px;
    border-bottom: 1px solid #d2d1d1;
}

.hamburger, .bar{
    position: fixed;
}

.hamburger{
    display: block;
    left: 1%;
    top: 8%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.bar{
    top: 3px;
    background: #000;
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
}

#bar2{
    top: 11px;
}

#bar3{
    top: 19px;
}

.navigation.active{
    left: -1%;
}

.hamburger.open #bar1{
    background-color: #000;
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2{
    background-color: transparent;
}

.hamburger.open #bar3{
    background-color: #000;
    transform: rotate(-45deg) translate(6px, -5px);
} */